apiVersion: v1
kind: Service
metadata:
  name: todo-backend-service
  namespace: todo-backend
  annotations:
    cloud.google.com/backend-config: '{"default":"todo-backend-config"}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: NodePort
  selector:
    app: todo-backend
  ports:
    - port: 5050
      targetPort: 5050
      protocol: TCP
